<% @user ||= current_user %>
<h1>
  <%= image_tag @user.avatar, class: "img-rounded" unless @user.avatar.blank? %>
  <%= @user.name %>
</h1>
<% if user_signed_in? && current_user == @user %>
  <%= link_to "Edit", edit_user_registration_path(@user) %>
<% end %>