<tr>
  <td><div class="col-md-12"><%= link_to book_state.book.title, book_state.book %></div></td>
  <td><div class="col-md-12"><%= book_state.updated_at %></div></td>
  <td><div class="col-md-12"><%= book_state.state %></div>
</tr>