<% provide :title, "History" %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
    </section>
    <section>
    </section>
  </aside>
  <div class="col-md-8">
    <div class="col-md-12">
      <table>
        <tr>
          <th><div class="col-md-12">Title</div></th>
          <th><div class="col-md-12">Updated at</div></th>
          <th><div class="col_md_12">State</div></th>
        </tr>
        <%= render @book_states %>
      </table>
      </div>
  </div>
</div>