<tr>
  <td><div class="col-md-12"><%= link_to book.title, book %></div></td>
  <td><div class="col-md-12"><%= book.author %></div></td>
  <td><div class="col-md-12"><%= book.state current_user %></div>
</tr>