<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<h1>Listing books</h1>

<% if @books.any? %>
  <table>
    <tr>
      <th><div class="col-md-12">title</div></th>
      <th><div class="col-md-12">author</div></th>
      <th><div class="col_md_12">State</div></th>
      <th><div class="col_md_12">Favorite</div></th>
    </tr>
    <%= render @books %>
  </table>

  <%= will_paginate @books %>
<% else %>
  <h2 style="center">Empty</h2>
<% end %>