<% provide :title, "Request" %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

    </section>
  </aside>
  <div class="col-md-8">
    <h1>Request list</h1>
    <table id="requests" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><div class="col-md-1">User</div></th>
          <th><div class="col-md-1">Book</div></th>
          <th><div class="col-md-2">Author</div></th>
          <th><div class="col-md-4">Book url</div></th>
          <th><div class="col-md-1">State</div></th>
          <th><div class="col-md-3">Action</div></th>
        </tr>
      </thead>  
      <tbody>
        <%= render @requests %>
      </tbody>
    </table>
    <%= will_paginate @requests %>
  </div>
</div>