<li id="activity-<%= activity.id %>">
  <%= link_to activity.user.name, activity.user %>
  <span class="content"><%= activity.message %></span>
  <span class="timestamp">
    <%= time_ago_in_words(activity.created_at) %> ago.
  </span>
</li>